<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>797A1CC1-DD13-4B48-B07A-A0F7A6E97BAA</string>
			<string>052B9F24-0489-4ED5-8CCC-EB3A3FC7C4F5</string>
			<string>248A3984-EDF8-489E-9BA3-82B62FB831FD</string>
			<string>6916EDCA-2C04-4D24-B55E-5231653977FB</string>
			<string>6DD1DF46-0631-4792-BCC4-E2BE3B6CE055</string>
			<string>EBF64E3D-58B3-474E-B3AE-2321F672E047</string>
			<string>7711DF43-1B0E-4BCC-832C-27AF453D8952</string>
			<string>DE389D5D-8774-4710-89B0-8639D7F6DE46</string>
		</array>
		<key>submenus</key>
		<dict>
			<key>7711DF43-1B0E-4BCC-832C-27AF453D8952</key>
			<dict>
				<key>items</key>
				<array>
					<string>DDADCDCD-A6DE-4B93-BAA7-76B1AB8CDF68</string>
				</array>
				<key>name</key>
				<string>HTML</string>
			</dict>
			<key>DE389D5D-8774-4710-89B0-8639D7F6DE46</key>
			<dict>
				<key>items</key>
				<array>
					<string>A489D283-727D-45EC-8891-4DA57E417BFD</string>
					<string>0F6EFAA1-254D-47DF-914D-ACD9B78E08C0</string>
				</array>
				<key>name</key>
				<string>JS</string>
			</dict>
			<key>EBF64E3D-58B3-474E-B3AE-2321F672E047</key>
			<dict>
				<key>items</key>
				<array>
					<string>92979FF9-DC42-453D-89B0-5F3D4239DCCF</string>
					<string>BBB8B71C-74B3-426E-A862-3D453A4F3421</string>
					<string>748CF26C-C88A-4B82-90E0-FC50B74A4254</string>
					<string>F8DFE69F-B077-4A0C-8AEF-B7AE1881CF4F</string>
					<string>17234A3E-7024-4BAD-A560-E70B60EF6D92</string>
				</array>
				<key>name</key>
				<string>CSS</string>
			</dict>
		</dict>
	</dict>
	<key>name</key>
	<string>juanghurtado</string>
	<key>ordering</key>
	<array>
		<string>797A1CC1-DD13-4B48-B07A-A0F7A6E97BAA</string>
		<string>052B9F24-0489-4ED5-8CCC-EB3A3FC7C4F5</string>
		<string>248A3984-EDF8-489E-9BA3-82B62FB831FD</string>
		<string>6916EDCA-2C04-4D24-B55E-5231653977FB</string>
		<string>6DD1DF46-0631-4792-BCC4-E2BE3B6CE055</string>
		<string>92979FF9-DC42-453D-89B0-5F3D4239DCCF</string>
		<string>BBB8B71C-74B3-426E-A862-3D453A4F3421</string>
		<string>748CF26C-C88A-4B82-90E0-FC50B74A4254</string>
		<string>F8DFE69F-B077-4A0C-8AEF-B7AE1881CF4F</string>
		<string>17234A3E-7024-4BAD-A560-E70B60EF6D92</string>
		<string>A489D283-727D-45EC-8891-4DA57E417BFD</string>
		<string>0F6EFAA1-254D-47DF-914D-ACD9B78E08C0</string>
		<string>DDADCDCD-A6DE-4B93-BAA7-76B1AB8CDF68</string>
	</array>
	<key>uuid</key>
	<string>8AFAF7D0-D258-406F-AB4D-C7E01D4D78EF</string>
</dict>
</plist>
